.registry {
  background-image: "../src/Components/images/bg_image.jpeg";
}

.registry-field {
  border: 4px solid black;
  background-image: "./src/Components/images/bg_image.jpeg";
  background-color: rgb(169, 193, 207);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  padding-left: 20ch;
}

.statement-head{
  padding-left: 10px;
}

.registry-statement {
  border: 4px solid black;
  background-image: "./src/Components/images/bg_image.jpeg";
  background-color: rgb(169, 193, 207);
  padding-bottom: 20px;
  width: 105%;
}
.biller-Select {
  background-color: white;
  width: 200px;
}

.cons-number {
  padding-bottom: 15px;
  width: 200px;
}

.biller-registry-body {
  background-image: "./images/bg_image.jpeg";
  /* background-color: darkgray; */
  height: 100%;
}

.btn {
  padding: 10px;
}
